<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

    <!-- Bootstrap & fontawesome links -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    {{!-- Font Awesome Kit --}}
    <script src="https://kit.fontawesome.com/768efcae0e.js"></script>

    {{!-- jQuery (to load before js docs) --}}
    <script src="https://code.jquery.com/jquery.js"></script>

  {{!-- Stylesheet --}}
  <link rel="stylesheet" href="/styles/a-styles.css" media="screen" title="no title" charset="utf-8">
  <title>appointa</title>
</head>

<body>
  {{{body}}}
</body>

</html>
