<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- BOOTSTRAP AND FONT-AWESOME LINKS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- FONT AWESOME KIT -->
  <script src="https://kit.fontawesome.com/768efcae0e.js"></script>

  {{!-- <link rel="stylesheet" href="/styles/a-styles.css" media="screen" title="no title" charset="utf-8"> --}}
  <link rel="stylesheet" href="/styles/styles.css">

  {{!-- jquery  --}}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <title>appointa</title>
</head>

<body>

  <div class="container">
    <section id="section-a">
      <!-- header -->
      <header>
        <br>

        <!-- Just an image -->
        <nav class="nav-control">

          <a href="/"><i class="fas fa-home" style="font-size:2rem"></i></a>
        </nav>
      </header>
    </section>
  </div>

  {{{body}}}



</body>

</html>