<div class="container">

    {{!-- navbar with home icon, etc. --}}
    <div class="row navbar">
        <div class="col-md-3">
            <a href="/"><i class="fas fa-home" style="font-size:2rem"></i></a>
        </div>
    </div>
    {{!-- appointa image --}}
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/img/logopic.png" alt="logo">
        </div>
    </div>

    <h3>DOCTOR PROFILE HERE</h3>

</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>