<div class="container">

{{!-- navbar with home icon, etc. --}}
    <div class="row navbar">
        <div class="col-md-3">
            <a href="/"><i class="fas fa-home" style="font-size:2rem"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 text-center logo-control">
            <img src="/img/logopic.png" style="width:200px" alt="logo">
        </div>
    </div>

<h3>PATIENT DASHBOARD HERE</h3>
<h4>{{this.firstname}} {{this.lastname}}</h4>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>