<a href="/johndoe/dashboard"><button>dashboard</button></a>
<br><br>



<h1>Don't have appointments</h1>



<a href="/johndoe/createappointment"><button>Create new appointment</button></a>


<br><br>
<a href="/johndoe/profile"><button>Profile</button></a>
<a href="/johndoe/appointment"><button>Appointments</button></a>
<a href="/johndoe/message"><button>Messages</button></a>

<script src="/js/index.js"></script>


