<a href="/johndoe/dashboard"><button>dashboard</button></a>
<br><br>

<h1>Create your new appointment</h1>


<a href="/johndoe/dashboard"><button>Create</button></a>

<br><br>
<a href="/johndoe/profile"><button>Profile</button></a>
<a href="/johndoe/appointment"><button>Appointments</button></a>
<a href="/johndoe/message"><button>Messages</button></a>


<script src="/js/index.js"></script>
