<a href="/johndoe/dashboard"><button>Dashboard</button></a>

<br><br>
<p>Your Dashboard</p>

<br><br>
<a href="/johndoe/profile"><button>Profile</button></a>
<a href="/johndoe/appointment"><button>Appointments</button></a>
<a href="/johndoe/message"><button>Messages</button></a>


<script src="/js/index.js"></script>
