    <div class="container">

        <div class="container">
            <section id="section-a">
                <!-- header -->
                <header>
                    <br>

                    <!-- Just an image -->
                    <nav class="nav-control">

                        <a href="./index.html"><i class="fas fa-arrow-left"></i></a>

                    </nav>
                </header>
            </section>

            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="../public/img/logopic.png" alt="logo">
                </div>
            </div>

        </div>




        <!-- sign in button -->
        <div class="container index-section-b">
            <section id="section-b">

                <div class="col-xs-12 text-center">

                    <button class="btn btn-primary button-control">
                                <a href="/signin">sign in</button></a>


                </div>


                <!-- sign up button -->


                <div class="col-xs-12 text-center">
                    <a href="/signup">
                        <button class="btn btn-primary button-control">sign up</button></a>
                </div>

            </section>

        </div>




    </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
