<div class="container">

    <div class="text-center">
        <img src="/img/logopic.png" alt="logo">
    </div>

{{!-- SELECT PATIENT OR DOCTOR --}}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Trilogy Medical Services</h5>
            <h6 class="card-subtitle mb-2">CU Bootcamp MediCenter</h6>
            <p class="card-text">Click on a link below.</p>
            <a href="/patient" class="card-link">Patient</a>  
            <a href="/doctor" class="card-link">Doctor</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>