{{!-- SELECT PATIENT OR DOCTOR --}}
<div class="container">


    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/img/logopic.png" alt="logo">
        </div>
    </div>


    <!-- sign in button -->
    <div class="container index-section-b">
        <section id="section-b">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 text-center">
                    <a href="/patient">
                        <button class="btn btn-primary button button-control">
                            Patients</button></a>
                </div>
                <!-- sign up button -->

                <div class="col-md-4 text-center">
                    <a href="/doctor">
                        <button class="btn btn-primary button button-control">Doctors</button></a>
                </div>
            </div>
        </section>

    </div>

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>