

<a href="/johndoe/dashboard"><button>dashboard</button></a>
<br><br>
<h1>Here is your profile</h1>


<br><br>
<a href="/johndoe/profile"><button>Profile</button></a>
<a href="/johndoe/appointment"><button>Appointments</button></a>
<a href="/johndoe/message"><button>Messages</button></a>


<script src="/js/index.js"></script>
