<div class="container">

    <div class="container">
        <section id="section-a">
            <!-- header -->
            <header>
                <br>
                <!-- Just an image -->
                <nav class="nav-control">
                    <a href="./index.html"><i class="fas fa-arrow-left"></i></a>

                </nav>
            </header>
        </section>

        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/img/logopic.png" alt="logo">
            </div>
        </div>

    </div>

    <!-- form section -->
    <div class="container form-bg">
        <section id="section-b" class="section-b-control">
            <!-- <div class="row"> -->
            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-user icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="name-form">
                    <label for="name" class="label-name"><span class="content-text">name</span>
                    </label>
                </div>
            </form>

            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-lock icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="password-form">
                    <label for="name" class="label-name"><span class="content-text">password</span>
                    </label>
                </div>
            </form>
            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-envelope icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="email-form">
                    <label for="name" class="label-name"><span class="content-text">email</span>
                    </label>
                </div>
            </form>
            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-phone-alt icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="phone-form">
                    <label for="name" class="label-name"><span class="content-text">phone</span>
                    </label>
                </div>
            </form>
            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-map icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="address-form">
                    <label for="name" class="label-name"><span class="content-text">address</span>
                    </label>
                </div>
            </form>
            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-id-card icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="insurance-form">
                    <label for="name" class="label-name"><span class="content-text">insurance</span>
                    </label>
                </div>
            </form>





        </section>
    </div>



    <div class="container">
        <section id="section-c">

            <div class="col-xs-12 text-center">
                <div>
                    <a href="/johndoe/dashboard"><button class="btn btn-primary button-control">sign up</button></a>

                </div>
            </div>


        </section>
    </div>




</div>
</div>


<script src="/js/index.js"></script>